.main-header {
    padding-top: 50px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-weight: 400;
}

.sub-header {
    padding-bottom: 0px;
    text-transform: uppercase;
    font-weight: 350;
}

.center.aligned {
    text-align: center;
}

.left.aligned {
    text-align: left;
}

.right.aligned {
    text-align: right;
}

.icon-bar a{
    font-size: 3rem;
    padding-right: 10px;
    color: white;
}

.icon-bar {
    padding-bottom: 10px;
}

.blog-item {
    margin-top: 25px;
}

.blog-item a {
    color: #0099CC;
    text-decoration: none;
    font-weight: 400;
}

.blog-item a:hover {
    color: #D3D5D4;
}

.load-button {
    text-align: center;
}

.blog-content {
    margin-top: 30px;
}

.blog-content h1 {
    font-weight: 500;
}

.blog-content h2 {
    font-weight: 500;
}

.blog-content h3 {
    font-weight: 500;
}

.blog-content h4 {
    font-weight: 500;
}

.blog-content h5 {
    font-weight: 500;
}

.blog-content p {
    line-height: 2.5;
}

.blog-content img {
    border-radius: 0px;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

img.small  {
    width: 150px;
    height: auto;
}

img.medium {
    width: 300px;
    height: auto;
}

img.large  {
    width: 450px;
    height: auto;
}

button {
    margin-left: 2px;
    margin-right: 2px;
}

.error-message {
    color: #FF5154
}

.success-message {
    color: #7FB685
}

blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}
